test.js
/part0/index.html

/part2/courseinfo
/part2/countries/.env
/part2/phonebook

/part3/courseinfo
/part3/phonebook/node_modules
/part3/phonebook/.env
/part3/phonebook/mongo.js

/part4/courseinfo
/part4/blogs-app/node_modules
/part4/blogs-app/.env